Final Project:

Analysis of Rent Prices vs Income Over Time

In [5]:
import numpy as np
import pandas as pd

The Kaggle page that I got the dataset from:

https://www.kaggle.com/datasets/thedevastator/rental-affordability-analysis-based-on-median-in

In [6]:
raw_data = pd.read_csv('TieredAffordability_Rental.csv')
raw_data.head()

,index,RegionID,RegionName,SizeRank,tier,date,income,zri,PercentIncomeSpentOnRent
0,0,394913,"New York, NY",1,Bottom Tier,2011-12-31,19250.0,1503,0.936935
1,1,394913,"New York, NY",1,Upper Tier,2011-12-31,152000.0,2908,0.229579
2,2,394913,"New York, NY",1,Bottom Tier,2012-03-31,19375.0,1514,0.937703
3,3,394913,"New York, NY",1,Upper Tier,2012-03-31,153000.0,2978,0.233569
4,4,394913,"New York, NY",1,Bottom Tier,2012-06-30,19500.0,1526,0.939077