Final Project:

Analysis of Rent Prices vs Income Over Time

In [3]:
import numpy as np
import pandas as pd

In [4]:
raw_data = pd.read_csv('Metro_zori_uc_sfrcondomfr_sm_month.csv')
raw_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30
0,102001,0,United States,country,NaN,1232.070120,1238.758734,1247.810823,1257.662981,1267.346364,...,1963.833747,1971.407109,1974.879714,1973.082037,1968.223537,1964.821039,1967.171214,1974.540384,1985.588927,1997.218765
1,394913,1,"New York, NY",msa,NY,2332.141887,2348.102164,2366.118116,2388.504889,2404.452697,...,3251.098776,3261.350528,3260.297612,3243.773862,3220.540853,3202.064318,3206.278265,3224.403081,3256.828620,3285.274666
2,753899,2,"Los Angeles, CA",msa,CA,1832.730335,1845.170028,1860.490896,1873.738622,1888.148212,...,2885.975568,2898.918459,2902.925423,2899.606996,2887.218346,2877.250752,2880.072794,2891.162314,2908.597848,2919.873537
3,394463,3,"Chicago, IL",msa,IL,1451.965010,1459.660786,1470.951419,1480.917264,1492.148093,...,2018.298817,2026.420737,2024.200814,2016.948633,2008.448094,2011.829251,2023.073321,2038.208188,2052.248652,2072.485407
4,394514,4,"Dallas, TX",msa,TX,1113.846731,1119.502230,1127.661537,1138.614407,1148.625088,...,1792.482691,1795.531598,1792.869685,1786.580062,1780.190421,1771.503943,1765.741000,1762.125011,1765.872240,1771.206681